body {
  margin: 0;
  height:100vh;
  width:100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-image: rgb(75,77,81); */
  /* background-color: rgb(75,77,81) !important;
  background-repeat: none;
  background-size: cover ; */

}
/* .video
{
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
} */
#root
{
  z-index: 1;
}

/* .image
{
  position: absolute;
  z-index: -1;
  width: 100px;
  height: 100px; 
  top:0;
  left:0;
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 
  monospace;
}
